#includes:
#    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php

    # Configuration spécifique à Symfony
    symfony:

        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml