$primary: #E25B29;
$secondary: #796133;
$success: #4CAF50;
$info: #17a2b8;
$warning: #f8b32a;
$danger: #C63C31;
$light: #F4CC8A;
$dark: #292F30;

$colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark
);