.game-card {
  background-color: $light;
  border: 1px solid $dark;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  &-image {
    border-radius: 10px;
    margin-right: 1rem;
    height: 100%;
    object-fit: cover;
  }

  &-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: $primary;
    margin-bottom: 10px;
  }

  &-description {
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    color: $dark;
    margin-bottom: 20px;
  }

  &-tags {
    margin-top: 10px;
    margin-bottom: 20px;

    .tag {
      font-size: 0.8rem;
      background-color: $secondary;
      color: $light;
      border-radius: 20px;
      padding: 5px 10px;
      margin-right: 5px;
    }
  }
}