<div class="progress flex-grow-1" role="progressbar" aria-valuenow="{{ this.percent }}" aria-valuemin="0" aria-valuemax="100" {{ attributes }}>
    <div class="progress-bar" style="width: {{ this.percent }}%"></div>
</div>